<div layout="row" class="col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2">
  <div flex>
    <md-dialog>
      <form ng-cloak>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Stationary</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div layout-padding>
            <md-input-container class="md-block" flex-gt-sm>
              <label>First name</label>
              <input ng-model="item.firstName">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Last name</label>
              <input ng-model="item.lastName">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Balance</label>
              <input type="number" ng-model="item.balance">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>E-mail</label>
              <input type="email" ng-model="item.email">
            </md-input-container>
          </div>
        </md-dialog-content>

        <md-dialog-actions>
          <md-button ng-click="cancel()">
            cancel
          </md-button>
          <md-button md-autofocus ng-click="answer(item)">
            add
          </md-button>
        </md-dialog-actions>


      </form>
    </md-dialog>
  </div>
</div>
