<div layout="row" layout-xs="column" ng-if="!isLoading">

  <div class="dashboard-item" layout="column" flex>
    <md-card>

      <h3 class="dash-heading">Expense list</h3>

      <md-card-content>
        <canvas ng-init="$ctrl.initiateExpensesPie()" id="Pie" class="chart chart-pie" chart-options="$ctrl.optionsPie"
                chart-data="$ctrl.dataPie" chart-labels="labelsPie">
        </canvas>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card style="height: 90%">

      <h3 class="dash-heading">Expenses paid</h3>

      <md-card-content>
        <md-content>
          <md-list-item ng-repeat="expense in $ctrl.expenseList | filter: expenseListFilter">
            <p> {{ expense.description }}</p> <strong style="padding-right: 10px" > R{{expense.price * expense.quantity }} </strong>
            <md-checkbox class="md-secondary" ng-change="$ctrl.expenseListEdit(expense)" ng-model="expense.paid"></md-checkbox>
          </md-list-item>
        </md-content>
      </md-card-content>

    </md-card>
  </div>
</div>
