<div  layout="row">
  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
        <canvas id="doughnut" class="chart chart-doughnut" chart-options="optionsDoughnut"
                chart-data="dataDoughnut" chart-labels="labelsDoughnut">
        </canvas>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
        <canvas id="doughnut" class="chart chart-doughnut" chart-options="optionsDoughnut"
                chart-data="dataDoughnut" chart-labels="labelsDoughnut">
        </canvas>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
        <canvas id="doughnut" class="chart chart-doughnut" chart-options="optionsDoughnut"
                chart-data="dataDoughnut" chart-labels="labelsDoughnut">
        </canvas>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
        <canvas id="doughnut" class="chart chart-doughnut" chart-options="optionsDoughnut"
                chart-data="dataDoughnut" chart-labels="labelsDoughnut">
        </canvas>
      </md-card-content>
    </md-card>
  </div>
</div>

