<div layout="row" layout-sm="column" layout-xs="column">
  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
        <!--<canvas id="pie" class="chart chart-pie"-->
                <!--chart-data="dataDoughnut" chart-labels="labelsDoughnut" chart-options="optionsDoughnut">-->
        <!--</canvas>-->
        <canvas id="bar" class="chart chart-bar" chart-options="$ctrl.optionsBar"
                chart-data="$ctrl.dataBar" chart-labels="$ctrl.labelsBar" chart-series="$ctrl.seriesBar">
        </canvas>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
        <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
                chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options"
                chart-dataset-override="$ctrl.datasetOverride" chart-click="$ctrl.onClick">
        </canvas>
      </md-card-content>
    </md-card>
  </div>
</div>
