<div  layout="row">
  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex>
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>
</div>


<div layout="row">
  <div class="dashboard-item" flex="50">
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex="50">
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>
</div>


<div layout="row">

  <div class="dashboard-item" layout="column" flex="50">
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex="50">
    <md-card style="height: 85%">
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>
</div>


<div layout="row">
  <div class="dashboard-item" flex="50">
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>

  <div class="dashboard-item" flex="50">
    <md-card>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>
</div>



