<div ng-controller="ExpenseCtrl">
  <md-card>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><md-button style="font-size: 80%">Add new expense item</md-button></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form>

        <div class="form-group">
          <label for="expenseType">Expense type</label>
          <div class="input-group">
              <input ng-change="showDropdownChange()" ng-model="newItem.type" type="text" class="form-control" id="expenseType">
              <span class="input-group-addon" id="expandDropdown">expand</span>
          </div>
          <div ng-if="showDropdown" class="dropdown">
            <div class="dropdown-item" ng-click="selectItem(item.$value)" ng-repeat="item in expenseOptions2">{{item.$value}}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" ng-model="newItem.description" class="form-control" id="description">
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" ng-model="newItem.price" class="form-control" id="price">
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" ng-model="newItem.quantity" class="form-control" id="quantity">
        </div>

        <div class="form-group">
          <label for="budget">Budget amount</label>
          <input type="number" ng-model="newItem.budget" class="form-control" id="budget">
        </div>

        <button type="submit" ng-click="addItem()" class="btn btn-primary pull-right">Submit</button>
      </form>
    </md-card-content>
  </md-card>

  <div class="table-mobile">
    <md-card>

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><md-button style="font-size: 80%">Expense items</md-button></span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>

        <table class="table table-sm table-striped table-hover table-responsive">
          <input ng-model="searchInput" type="text" class="form-control" id="search" placeholder="Search">
          <thead>
          <tr>
            <th>Selected</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price (R)</th>
            <th>Quantity</th>
            <th>Budget</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in expenseTable | filter: searchFilter(searchInput)">
            <td class="input-cell">
              <md-switch ng-change="editItem(item)" ng-model="item.selected">
              </md-switch>
              <!--<input ng-change="editItem(item)" type="checkbox" value="" ng-model="item.selected"></label>-->
            </td>
            <td class="input-cell"><select ng-change="editItem(item)" class="table-input" ng-model="item.type" ng-options="item.$value as item.$value for item in expenseOptions"></select>
            </td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="text" ng-model="item.description"></td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="number" ng-model="item.price"></td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="number" ng-model="item.quantity"></td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="number" ng-model="item.budget"></td>
            <td class="input-cell">
              <button ng-click="removeItem(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </td>

          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td><strong>{{total() | currency:'R'}}</strong></td>
            <td></td>
          </tr>
          </tbody>
        </table>

      </md-card-content>

    </md-card>
  </div>

</div>
