<div ng-controller="GuestsCtrl">
  <md-card>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><md-button style="font-size: 80%">Add new guest</md-button></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form>
        <div class="form-group">
          <label for="exampleSelect1">Guest type</label>
          <select class="form-control" id="exampleSelect1" ng-model="newItem.type"
                  ng-options="item for item in guestsOptions">
          </select>
        </div>

        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" ng-model="newItem.name" class="form-control" id="Name">
        </div>

        <div class="form-group">
          <label for="Surname">Surname</label>
          <input type="text" ng-model="newItem.surname" class="form-control" id="Surname">
        </div>

        <button type="submit" ng-click="addItem()" class="btn btn-primary pull-right">Submit</button>
      </form>
    </md-card-content>
  </md-card>

  <div class="table-mobile">
    <md-card>

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><md-button style="font-size: 80%">Guest list</md-button></span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>

        <table class="table table-sm table-striped table-hover">
          <input ng-model="searchInput" type="text" class="form-control" id="search" placeholder="Search">
          <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Going</th>
            <th>Table</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in guestsTable | filter: searchFilter(searchInput)">
            <td class="input-cell"><select ng-change="editItem(item)" class="table-input" ng-model="item.type" ng-options="item for item in guestsOptions"></select></td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="text" ng-model="item.name"></td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="text" ng-model="item.surname"></td>
            <td class="input-cell">
              <md-switch ng-model="item.going" ng-change="editItem(item)" aria-label="Switch 1">
              </md-switch>
            </td>
            <td class="input-cell"><input ng-change="editItem(item)" class="table-input" type="number" ng-model="item.table"></td>
            <td class="input-cell">
              <button type="button" ng-click="removeItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
          </tr>
          <tr>
            <td><strong>Total guests invited</strong></td>
            <td><strong>{{total()}}</strong></td>
            <td><strong>Total guests going</strong></td>
            <td><strong>{{totalGoing()}}</strong></td>
            <td></td>
          </tr>
          </tbody>
        </table>

      </md-card-content>

    </md-card>
  </div>

</div>
