<div layout="column" style=" height:100vh;" ng-cloak>

  <!--///////////////////////////////////////////////Mobile/////////////////////////////////-->
  <div hide-gt-md>
    <div style="background-color: rgb(63,81,181);color: rgba(255,255,255,0.87); min-height: 40px;">
      <span data-toggle="collapse" data-target="#dashMenuMobile" aria-expanded="false" class="glyphicon glyphicon-align-justify" style="float: right; font-size: 28px; padding: 5px"></span>
    </div>

    <div class="container">
      <div id="dashMenuMobile" class="row collapse">

        <div data-toggle="collapse" data-target="#dashMenuMobile" ng-click="$ctrl.clickNavItem('navOverview')" ng-class="{'selected-nav': $ctrl.navItemButtons.navOverviewMobile}" id="navOverviewMobile" class="col-md-12 side-nav-button">
          Overview <span class="pull-right glyphicon glyphicon-home"></span>
        </div>

        <div data-toggle="collapse" data-target="#dashMenuMobile" ng-click="$ctrl.clickNavItem('navIncome')" ng-class="{'selected-nav': $ctrl.navItemButtons.navIncomeMobile}" id="navIncomeMobile" class="col-md-12 side-nav-button">
          Income <span class="pull-right glyphicon glyphicon-home"></span>
        </div>

        <div data-toggle="collapse" data-target="#dashMenuMobile" ng-click="$ctrl.clickNavItem('navExpenses')" ng-class="{'selected-nav': $ctrl.navItemButtons.navExpensesMobile}" id="navExpensesMobile"class="col-md-12 side-nav-button">
          Expenses <span class="pull-right glyphicon glyphicon-home"></span>
        </div>

        <div data-toggle="collapse" data-target="#dashMenuMobile"  ng-click="$ctrl.clickNavItem('navGuests')" ng-class="{'selected-nav': $ctrl.navItemButtons.navGuestsMobile}" id="navGuestsMobile" class="col-md-12 side-nav-button">
          Guests <span class="pull-right glyphicon glyphicon-home"></span>
        </div>
      </div>
    </div>

  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////////////////-->

  <section layout="row" flex>
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open= "$mdMedia('gt-md')"
      md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl" style="overflow: hidden">

        <div class="row">

          <div ng-click="clickNavItem('navOverview')" ng-class="{'selected-nav': $ctrl.navItemButtons.navOverview}" id="navOverview" class="col-md-12 side-nav-button">
            Overview <span class="pull-right glyphicon glyphicon-home"></span>
          </div>

          <div ng-click="clickNavItem('navIncome')" ng-class="{'selected-nav': $ctrl.navItemButtons.navIncome}" id="navIncome" class="col-md-12 side-nav-button">
            Income <span class="pull-right glyphicon glyphicon-usd"></span>
          </div>

          <div ng-click="clickNavItem('navExpenses')" ng-class="{'selected-nav': $ctrl.navItemButtons.navExpenses}" id="navExpenses"class="col-md-12 side-nav-button">
            Expenses <span class="pull-right glyphicon glyphicon-tag"></span>
          </div>

          <div ng-click="clickNavItem('navGuests')" ng-class="{'selected-nav': $ctrl.navItemButtons.navGuests}" id="navGuests" class="col-md-12 side-nav-button">
            Guests <span class="pull-right glyphicon glyphicon-user"></span>
          </div>
        </div>

        <p>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div ng-if="$ctrl.navItemButtons.navOverview" ng-include src="'views/admin/dashboard/_dashboard.html'"></div>
      <div ng-if="$ctrl.navItemButtons.navIncome" ng-include src="'views/admin/_income.html'"></div>
      <div ng-if="$ctrl.navItemButtons.navExpenses" ng-include src="'views/admin/_expenses.html'"></div>
      <div ng-if="$ctrl.navItemButtons.navGuests" ng-include src="'views/admin/_guests.html'"></div>

    </md-content>

  </section>

</div>
