<div layout="row" class="container venue-details">
  <div flex="33">
    <md-card>
      <img ng-click="optionClick('google')" src="http://via.placeholder.com/350"/>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
          elit
          condimentum id.</p>
      </md-card-content>
    </md-card>
  </div>
  <div flex="33">
    <md-card>
      <img src="http://via.placeholder.com/350"/>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
          elit
          condimentum id.</p>
      </md-card-content>
    </md-card>
  </div>

  <div flex="33">
    <md-card>
      <img src="http://via.placeholder.com/350"/>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
          elit
          condimentum id.</p>
      </md-card-content>
    </md-card>
  </div>
</div>
