<div class="container">
  <div id="aboutIntro" layout="row">
    <div flex="50" flex-sm="100" flex-md="50" flex-xs="100" class="about-border-right">

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><md-button style="font-size: 80%">It all started ...</md-button></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis magna, molestie nec
            urna
            a, dignissim vestibulum libero. Aliquam molestie leo diam. Pellentesque eu laoreet nunc. Nullam vel justo
            gravida velit tincidunt commodo id id lectus. Nunc vel sollicitudin magna. Fusce ut dolor at orci tempus
            accumsan nec eget tellus. Mauris eu quam nisi. Nulla sagittis lacinia risus ac viverra. Suspendisse at
            iaculis
            mi. Cras massa sem, finibus at tellus a, fringilla bibendum libero. Curabitur ornare sollicitudin nisi eu
            convallis.

            Nullam viverra eros vel diam egestas vulputate. Donec mollis pulvinar ornare. Vestibulum cursus rutrum
            dolor.
            Donec maximus elit fringilla risus tincidunt, id iaculis justo accumsan. Fusce eu elit vestibulum lacus
            aliquet
            auctor vel quis quam. Donec erat nisi, aliquet ut erat a, euismod pretium lacus. Sed tincidunt eu diam ac
            tincidunt. Vestibulum gravida massa ut urna facilisis dapibus. Class aptent taciti sociosqu ad litora
            torquent
            per conubia nostra, per inceptos himenaeos. Maecenas lobortis arcu eget nunc dictum varius. Suspendisse
            aliquet
            dolor sit amet ante suscipit ullamcorper. Nullam tristique pharetra est ut porttitor. Vestibulum id metus
            sit
            amet justo euismod pharetra. Etiam pellentesque varius ullamcorper. Sed laoreet orci vitae erat rhoncus
            congue.
            Praesent aliquam non est ut vehicula.</p>
        </md-card-content>
      </md-card>

      <hr class="about">
      <div layout="row" style="position: relative;">
        <div ng-if="!centerImageVisable" flex="50">
          <img ng-click="centerImg()" id="aboutTopLeft" class="img-responsive img-circle about-img"
               src="http://via.placeholder.com/250" alt="">
        </div>

        <div ng-if="centerImageVisable" flex="100" style=" text-align: -webkit-center;">

          <div layout="row" layout-align="space-around center">
            <div flex="25">
              <img ng-click="imgClick('previous')" ng-class="imgClass[0].class" id="imgPrevious"
                   class="img-responsive img-circle about-img"
                   src="http://via.placeholder.com/100" alt="">
            </div>
            <div flex="50">
              <img ng-class="imgClass[1].class" style="border: 2px solid;" id="aboutCenter"
                   class="img-responsive img-circle about-img middle"
                   src="http://via.placeholder.com/250" alt="">
            </div>
            <div flex="25">
              <img ng-click="imgClick('next')" ng-class="imgClass[2].class" id="imgNext"
                   class="img-responsive img-circle about-img"
                   src="http://via.placeholder.com/100" alt="">
            </div>
          </div>

        </div>

        <div ng-if="!centerImageVisable" flex="50" style=" text-align: -webkit-right;">
          <img ng-click="centerImg()" id="aboutBottomRight" class="img-responsive img-circle about-img"
               src="http://via.placeholder.com/250" alt="">
        </div>

      </div>
      <hr class="about">
      <md-card>
        <md-card-content>
          <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis magna, molestie nec
            urna
            a, dignissim vestibulum libero. Aliquam molestie leo diam. Pellentesque eu laoreet nunc. Nullam vel justo
            gravida velit tincidunt commodo id id lectus. Nunc vel sollicitudin magna. Fusce ut dolor at orci tempus
            accumsan nec eget tellus. Mauris eu quam nisi. Nulla sagittis lacinia risus ac viverra. Suspendisse at
            iaculis
            mi. Cras massa sem, finibus at tellus a, fringilla bibendum libero. Curabitur ornare sollicitudin nisi eu
            convallis.

            Nullam viverra eros vel diam egestas vulputate. Donec mollis pulvinar ornare. Vestibulum cursus rutrum
            dolor.
            Donec maximus elit fringilla risus tincidunt, id iaculis justo accumsan. Fusce eu elit vestibulum lacus
            aliquet
            auctor vel quis quam. Donec erat nisi, aliquet ut erat a, euismod pretium lacus. Sed tincidunt eu diam ac
            tincidunt.</p>
        </md-card-content>
      </md-card>

    </div>
    <div class="about-side-img" flex="50" flex-sm="0" flex-md="50" flex-xs="0" hide-sm hide-xs>
    </div>
  </div>
</div>

<hr class="about">

