
<div layout="row" layout-padding layout-align="space-between center"
     style="background-image: url(../images/about/about-1.jpg); background-size:cover; border:ridge; ">

  <div flex="50" ng-show="p1" class="animate-show animate-hide">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus quam in tortor placerat, in ullamcorper lacus
      commodo. Nulla sodales eros ac odio posuere, quis imperdiet mi interdum. Cras in vehicula orci. Nulla id porttitor
      velit. Duis venenatis gravida ipsum, non vestibulum ex iaculis vitae. Praesent interdum mollis nunc, ac sodales
      nulla dictum elementum. Ut lobortis urna sit amet malesuada mattis. In non ipsum vel neque maximus dictum sit amet
      eget nisl. Nam suscipit, metus quis pellentesque posuere, sapien nulla elementum eros, elementum vestibulum felis
      velit nec velit. Curabitur tempor semper lorem at placerat.</p>
  </div>
  <div  flex="50" ng-show="p2" class="animate-show animate-hide">
    <p>In interdum consectetur eros et aliquet. Donec porttitor risus eu venenatis venenatis. Aliquam a magna risus.
      Etiam ornare sem a luctus vulputate. Cras ac ultricies augue, vitae porttitor ligula. Donec tempor urna vitae
      ipsum dictum ultricies. Quisque sit amet tellus at nisl sollicitudin sagittis eu non nibh. Sed sagittis venenatis
      erat, in laoreet elit venenatis a.</p>

    <p>Curabitur at neque non est tristique mollis. Praesent ultricies, felis nec rutrum porttitor, ante lacus sodales
      diam, id iaculis quam magna vitae justo. Praesent vel aliquet neque. Vivamus accumsan odio nulla. Pellentesque
      nunc leo, finibus non ligula a, facilisis bibendum dolor. Curabitur lobortis turpis nec lacus fringilla, quis
      consequat mauris tristique. Quisque eu sapien sem. Nulla condimentum velit enim, ac commodo quam venenatis
      non.</p>
  </div>

</div>

