

<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" is-open="status.open">
    <uib-accordion-heading>
      Stationary <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </uib-accordion-heading>

    <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}"
                         ng-class="selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon ></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button  ng-click="showPrompt($event)"  aria-label="Twitter" class="md-fab md-raised md-mini">
            <md-icon aria-label="Twitter"></md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
            <md-icon  aria-label="Facebook"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon aria-label="Google Hangout"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>

    <div layout="row" layout-align="space-around">
      <div layout="column" layout-align="start center">
        <b>Direction</b>

        <md-radio-group ng-model="selectedDirection">
          <md-radio-button ng-repeat="direction in availableDirections"
                           ng-value="direction" class="text-capitalize">
            {{direction}}
          </md-radio-button>
        </md-radio-group>
      </div>

      <div layout="column" layout-align="start center">
        <b>Open/Closed</b>

        <md-checkbox ng-model="isOpen">
          Open
        </md-checkbox>
      </div>

      <div layout="column" layout-align="start center">
        <b>Animation Modes</b>

        <md-radio-group ng-model="selectedMode">
          <md-radio-button ng-repeat="mode in availableModes" ng-value="mode">
            {{mode}}
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div ng-if="status" id="status">
      <b layout="row" layout-align="center center" class="md-padding">
        {{modalStatus}}
      </b>
    </div>
  </div>
</uib-accordion>
