<div style="background-image: url(../images/intro/B1.jpg); background-size:cover; border:ridge; ">
  <div layout-padding style="min-height: 250px;">
    <img src="../images/brand/Logo.png" class="img-responsive"/>
  </div>
</div>


<div layout-padding layout-align="space-around center" layout="row" layout-md="column" layout-sm="row" layout-xs="column">
  <div layout="column" layout-fill layout-md="row" layout-sm="row" layout-xs="column">

    <div flex-md="30" flex-sm="100" >
      <md-card style="background-color:#00bcd4 ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Number 1</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

    <div flex-md="70" flex-sm="100" hide-xs>
      <md-card style="background-color:orangered ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Number 2</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

    <div show-gt-lg hide-md hide-sm>
      <md-card style="background-color:chartreuse ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Number 3<span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

  </div>

  <div layout="column" layout-fill layout-md="row" layout-sm="row" layout-xs="column">

    <div flex="50" flex-sm="100">
      <md-card style="background-color:#00bcd4 ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Number 4</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

    <div flex="50" flex-sm="100" hide-xs>
      <md-card style="background-color:orangered ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Number 5</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

    <div show-gt-lg hide-md hide-sm>
      <md-card style="background-color: chartreuse ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Number 6<span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

  </div>
</div>




<div layout="row" layout-sm="column" layout-xs="column">
  <div flex="100">
    <md-card>
      <img src="../images/intro/c1.jpg" height="420" width="630"/>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><md-button style="font-size: 80%">About Us</md-button></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat elit
          condimentum id.</p>
      </md-card-content>
    </md-card>
  </div>
  <div layout="column" layout-sm="row" layout-xs="column" flex="100" layout-align="center stretch">
    <div flex>
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between stretch">
          <div layout="column" flex-sm="100" flex-xs="100" flex="50">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><md-button style="font-size: 80%">Venue</md-button></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat
                volutpat
                elit condimentum id.Nunc ut ex sed massa pellentesque blandit. Nullam </p>
            </md-card-content>
          </div>
          <md-card-title-media flex-sm="100" flex-xs="100" flex="50">
            <div class="md-media-md  card-media">
              <img src="../images/intro/c8.jpg" class="img-responsive thumbnail"/>
            </div>
          </md-card-title-media>
        </div>
      </md-card>
    </div>
    <div flex>
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between stretch">
          <div layout="column" flex-sm="100" flex-xs="100" flex="50">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><md-button style="font-size: 80%">Guest List</md-button></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat
                volutpat
                elit condimentum id.Nunc ut ex sed massa pellentesque blandit. Nullam </p>
            </md-card-content>
          </div>
          <md-card-title-media flex-sm="100" flex-xs="100" flex="50">
            <div class="md-media-md  card-media">
              <img src="../images/intro/c3.jpg" class="img-responsive thumbnail"/>
            </div>
          </md-card-title-media>
        </div>
      </md-card>
    </div>
  </div>
</div>
