<div class="container">
  <div style="background-image: url(../images/intro/B1.jpg); background-size:cover; border:ridge; ">
    <div layout-padding style="min-height: 250px;">
      <img src="../images/brand/Logo.png" class="img-responsive"/>
    </div>
  </div>

  <div layout-padding layout-align="space-around center" layout="row" layout-sm="column" layout-xs="column">
    <div id="groom">
      <md-card>
        <div class="intro-image landing">
          <img class="img-responsive" src="http://via.placeholder.com/500x600" alt="" style="width: 100%; height: auto">
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><md-button style="font-size: 80%">The Groom</md-button></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
            elit
            condimentum id.</p>
        </md-card-content>
      </md-card>
    </div>

    <div id="bride">
      <md-card>
        <div  class="intro-image landing">
          <img class="img-responsive" src="http://via.placeholder.com/500x600" alt="" style="width: 100%">
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><md-button style="font-size: 80%">The Bride</md-button></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
            elit
            condimentum id.</p>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div layout="row" layout-sm="column" layout-xs="column">
    <div flex="100">
      <md-card>
        <div class="intro-image">
          <img src="http://via.placeholder.com/500x250" class="image img-responsive thumbnail">
          <div class="overlay">
            <div class="text">About Us</div>
          </div>
        </div>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
            elit
            condimentum id.</p>
        </md-card-content>
      </md-card>
    </div>
    <div layout="column" layout-sm="row" layout-xs="column" flex="100" layout-align="center stretch">
      <div flex>
        <md-card>
          <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between stretch">
            <div layout="column" flex-sm="100" flex-xs="100" flex="50">
              <md-card-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat
                  volutpat
                  elit condimentum id.Nunc ut ex sed massa pellentesque blandit. Nullam </p>
              </md-card-content>
            </div>
            <md-card-title-media flex-sm="100" flex-xs="100" flex="50">
              <div class="intro-image">
                <img src="http://via.placeholder.com/500x350" class="image img-responsive thumbnail">
                <div class="overlay">
                  <div class="text">Venue</div>
                </div>
              </div>
            </md-card-title-media>
          </div>
        </md-card>
      </div>
      <div flex>
        <md-card>
          <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between stretch">
            <div layout="column" flex-sm="100" flex-xs="100" flex="50">
              <md-card-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat
                  volutpat
                  elit condimentum id.Nunc ut ex sed massa pellentesque blandit. Nullam </p>
              </md-card-content>
            </div>
            <div flex-sm="100" flex-xs="100" flex="50">
              <div class="intro-image">
                <img src="http://via.placeholder.com/500x350" class="image img-responsive thumbnail">
                <div class="overlay">
                  <div class="text">Guest List</div>
                </div>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</div>
