<div id="venue">

  <div class="venue-intro">
    <div class="container">
      <div layout="row">
        <div flex="50">
          <div>
            <img src="http://via.placeholder.com/500" class="img-circle venue-img-border"/>
          </div>
          <div id="vContacts">
            <img src="http://via.placeholder.com/250" class="img-circle venue-img-border"/>
          </div>
        </div>

        <div flex="50">

          <div layout="row">
            <div ng-click="vImgClick('#vTop')" style="outline: none;">
              <img src="http://via.placeholder.com/150" class="img-circle venue-img-border top"/>

              <img id="vTop1" src="http://via.placeholder.com/100" class="img-circle venue-img-border"
                   style="display: none;"/>
              <img id="vTop2" src="http://via.placeholder.com/100" class="img-circle venue-img-border"
                   style="display: none;"/>
              <img id="vTop3" src="http://via.placeholder.com/100" class="img-circle venue-img-border"
                   style="display: none;"/>
            </div>
          </div>

          <div layout="row">
            <div ng-click="vImgClick('#vMid')" style="outline: none;">
              <img src="http://via.placeholder.com/150" class="img-circle venue-img-border mid"/>

              <img id="vMid1" src="http://via.placeholder.com/100" class="img-circle venue-img-border"
                   style="display: none;"/>
              <img id="vMid2" src="http://via.placeholder.com/100" class="img-circle venue-img-border"
                   style="display: none;"/>
              <img id="vMid3" src="http://via.placeholder.com/100" class="img-circle venue-img-border"
                   style="display: none;"/>
            </div>
          </div>

          <div layout="row">
            <div>
              <img src="http://via.placeholder.com/150" class="img-circle venue-img-border top"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div layout="row" class="venue-mid">

  </div>

  <div layout="row" class="container venue-details">
    <div flex="33">
      <md-card>
        <img src="http://via.placeholder.com/350"/>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
            elit
            condimentum id.</p>
        </md-card-content>
      </md-card>
    </div>

    <div flex="33">
      <md-card>
        <img src="http://via.placeholder.com/350"/>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
            elit
            condimentum id.</p>
        </md-card-content>
      </md-card>
    </div>

    <div flex="33">
      <md-card>
        <img src="http://via.placeholder.com/350"/>
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada rutrum elit, volutpat volutpat
            elit
            condimentum id.</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

